
#navmaindiv{
    margin: 0%;
    padding: 0%;
     background-color: #f5df4e;
     
}
#navbarimgh2{
    display: flex;
}
#navimg{
    border-radius: 70px;
}
.navh4{
    padding: 8.5%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}


.navbarMenu.show .nav-item:nth-child(1) .nav-link { transition-delay: 0.1s; }
.navbarMenu.show .nav-item:nth-child(2) .nav-link { transition-delay: 0.2s; }
.navbarMenu.show .nav-item:nth-child(3) .nav-link { transition-delay: 0.3s; }
.navbarMenu.show .nav-item:nth-child(4) .nav-link { transition-delay: 0.4s; }
.navbarMenu.show .nav-item:nth-child(5) .nav-link { transition-delay: 0.5s; }
.navbarMenu.show .nav-item:nth-child(6) .nav-link { transition-delay: 0.6s; }
.navbarMenu.show .nav-item:nth-child(7) .nav-link { transition-delay: 0.7s; }
.navbarMenu.show .nav-item:nth-child(8) .nav-link { transition-delay: 0.8s; }





/* .navbarMenu .navsubul-link {
  opacity: 0;
  transform: translateY(-10px);
  transition: all 1s ease;
} */
/* .navbarMenu.show .navsubul-link {
  opacity: 2;
  transform: translateY(0);
} */

/* ---------------------------------------------------- */
.profilediv{
    background-color:#f5df4e;
    padding-top: 6%;
    width: 100%;
    height:auto;
    display: flex;
    /* gap:22%; */
    /* justify-content: space-between; */
}
.profiledivpara{
  text-align:justify;
}

.profilediv h1{
  font-size: 55px;
  font-family: Arial, Helvetica, sans-serif;

}
.profilediv h2{
  font-family: Arial, Helvetica, sans-serif;

}
.profileimgdiv{
  width:100%;
  margin-bottom: 2%;
  /* border-radius: 100%; */
}
.profilediv img{
  float: right;
  border-radius: 100%;
  border: beige 6px solid;
  width: 100%;
}
.vmwbutton {
border-radius: 0%;  
margin-left:27%;
}

/* ----------------------------------------------- */


/* .aboutme h6{
  text-align: center;
  background-color: #f5df4e;
} */

.aboutme h1{
  font-weight:600;
  text-align: center;
    font-family:'Poppins',sans-serif;
  /* font-family: sans-serif; */
}
.aboutme h3{
  font-weight:100;
    font-family:'Poppins',sans-serif;
  /* font-family: sans-serif; */
}

.aboutmenameexp1{
  display: flex;
}

.aboutme u{
  font-size: 120%;
  font-weight:800;
  /* font-family: sans-serif; */
    font-family:'Poppins',sans-serif;

}
.aboutme p{
  font-family:'Poppins',sans-serif;
  text-align: justify;
}

.experience{
  /* background-color: #f5df4e; */
  margin: 0 auto;
  width:20%;
  height: 1;
  border-radius: 100%;
}
.experience h1{
  margin: 0 auto;
  width: 40%;
  font-size:550%;
  font-weight: 600;
  transform: scale(1.8);
  background-color:#f5df4e;
  border-radius: 100%;

}
.experience h3{
  transform: scale(1);
  text-align: center;
}
.aboutmenameexp2{
  display: flex;
  justify-content: space-between;
}

/* ------------------------------------------------- */

.resumemain1{
  background-color:rgba(234, 233, 233, 0.356);
}
.resumemain2{
  background-color: rgba(234, 233, 233, 0.356);
  display: flex;
}




/* .resume h1{
  font-weight:600;
  text-align: center;
  font-family:'Poppins',sans-serif;
} */
.resumesub1{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  border-left: 1px solid black;
}
.resumesub2{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  border-left: 1px solid black;
  
}

/* -----------------progressbar----------------- */

.progressbar1{
  display: flex;
  justify-content: space-between;
}

/* --------------recent work---------------------- */

.recentwork{
  background-color:rgba(234, 233, 233, 0.356);
}
/* .recentwork ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
} */

.contactme{
  background-color: #f5df4e;
}
.contactme ul{
    display: flex;
    list-style: none;
    gap: 3%;
}
.contactmesub{
  display: flex;
  gap: 8%;
}

footer {
      background-color: #333;
      color: white;
      text-align: center;
      padding: 15px;
      position: relative;
      bottom: 0;
      width: 100%;
    }
footer a {
      color: #ffd700;
      text-decoration: none;
      margin: 0 10px;
    }
    footer a:hover {
      text-decoration: underline;
    }
